#gamesboard-container{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.player1-option-container{
    width: 500px;
    height: 70px;
    background-color: yellow;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.player1-option-container2{
    width: 500px;
    height: 0px;
    background-color: rgb(255, 255, 253);
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.player2-option-container{
    width: 500px;
    height: 70px;
    background-color: yellow;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.player2-option-container2{
    width: 500px;
    height: 0px;
    background-color: rgb(253, 253, 251);
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.game-board{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.block{
    width: 20px;
    height: 20px;
}
.destroyer-preview{
    width: 20px;
    height: 10px;
    margin: 2px;
}
.submrine-preview{
    width: 30px;
    height: 10px;
    margin: 2px;
}
.cruiser-preview{
    width: 30px;
    height: 10px;
    margin: 2px;
}
.battleship-preview{
    width: 40px;
    height: 10px;
    margin: 2px;
}
.carrier-preview{
    width: 50px;
    height: 10px;
    margin: 2px;
}
.destroyer{
    background-color: brown;
}
.submrine{
   background-color: green;
}
.cruiser{
  background-color: purple;
}
.battleship{
   background-color: orange;
}
.pieLabel * {
    color: pink ;
  }
.carrier{
   background-color: blue;
}
.hover{
    background-color: grey;
}
.fadeout1{
    background-color: yellow;
}
.fadeout2{
    background-color: pink;
}
.boom{
    background-color: red !important;
}
.empty{
    background-color: grey !important;
}


